In [48]:
import numpy as np
import pandas as pd

<b>1. Load .xlsx file to a pandas DataFrame.</b>

In [49]:
df = pd.read_excel('igrzyska.xlsx', sheet_name='t201223CRC')
df.head()

,URODZONY,PLEC,KLM6,woj,q9,q10,q11,q12,q13,q14,...,q153,q154,q155,q156,r7s1,r7s2,r7s3,r7s4,r7s5,waga
0,1940,2,1,11,2,4,NaN,13,8.0,1,...,2.0,2,NaN,2,2012,7,4,18,42,0.722004
1,1943,1,3,11,8,4,NaN,13,3.0,1,...,NaN,2,NaN,2,2012,7,4,16,43,0.686766
2,1936,1,3,11,8,4,NaN,13,3.0,1,...,NaN,2,NaN,1,2012,7,4,18,16,0.686766
3,1948,1,3,11,4,4,NaN,13,6.0,1,...,2.0,2,NaN,2,2012,7,4,19,43,1.604806
4,1994,2,1,10,3,4,NaN,11,11.0,2,...,NaN,1,2.0,1,2012,7,5,11,17,1.316088

<b>2. Create a column named 'error' containing prediction error between 'q93' column value and a real number of golden medals acquired by Poland on the 2012 Olympic Games.</b>

In [50]:
print('Number of not-NA values in column q93: \t {0}'.format(df['q93'].count()),
      '\nNumber of NA values in q93 column: \t {0}'.format(df['q93'].isna().count()),
      '\nq93 column median: \t\t\t {0}'.format(np.nanmedian(df['q93'])),
      '\nq93 column mean: \t\t\t {0}'.format(np.nanmean(df['q93'])))

df[df['q93'].isna()] = np.nanmedian(df['q93'])
df['error'] = df['q93'] - 11
df['error']

Number of not-NA values in column q93: 	 692
Number of NA values in q93 column: 	 960
q93 column median: 			 10.0
q93 column mean: 			 9.693641618497109

0     -4.0
1     -1.0
2     -1.0
3      3.0
4     -1.0
      ...
955   -7.0
956    4.0
957    4.0
958   -6.0
959    0.0
Name: error, Length: 960, dtype: float64

<b>3. Count correct predictions and show the rows that describe them.</b>

In [51]:
print('Number of correct predictions: \t {0}'.format(df[df['q93'] == 11]['q93'].count()))
print(df[df['q93'] == 11]['q93'])
df[df['q93'] == 11]

Number of correct predictions: 	 30
15     11.0
17     11.0
172    11.0
197    11.0
217    11.0
274    11.0
291    11.0
300    11.0
309    11.0
334    11.0
354    11.0
438    11.0
508    11.0
539    11.0
544    11.0
574    11.0
593    11.0
602    11.0
604    11.0
639    11.0
670    11.0
683    11.0
702    11.0
789    11.0
790    11.0
809    11.0
826    11.0
914    11.0
917    11.0
959    11.0
Name: q93, dtype: float64

,URODZONY,PLEC,KLM6,woj,q9,q10,q11,q12,q13,q14,...,q154,q155,q156,r7s1,r7s2,r7s3,r7s4,r7s5,waga,error
15,1936.0,1.0,5.0,13.0,12.0,4.0,NaN,13.0,2.0,1.0,...,2.0,NaN,1.0,2012.0,7.0,5.0,17.0,56.0,0.639548,0.0
17,1986.0,2.0,5.0,12.0,11.0,4.0,NaN,14.0,5.0,2.0,...,2.0,NaN,1.0,2012.0,7.0,5.0,18.0,29.0,0.525158,0.0
172,1988.0,2.0,1.0,13.0,8.0,2.0,3.0,5.0,NaN,2.0,...,1.0,1.0,2.0,2012.0,7.0,7.0,12.0,27.0,0.749091,0.0
197,1985.0,1.0,1.0,6.0,4.0,4.0,NaN,6.0,NaN,2.0,...,1.0,1.0,1.0,2012.0,7.0,7.0,14.0,52.0,1.772485,0.0
217,1969.0,1.0,1.0,15.0,10.0,1.0,3.0,10.0,NaN,1.0,...,2.0,NaN,1.0,2012.0,7.0,7.0,12.0,15.0,0.987732,0.0
274,1952.0,2.0,1.0,2.0,2.0,4.0,NaN,13.0,6.0,1.0,...,1.0,3.0,2.0,2012.0,7.0,7.0,14.0,11.0,0.631724,0.0
291,1968.0,1.0,3.0,16.0,4.0,1.0,3.0,10.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,7.0,12.0,41.0,1.055805,0.0
300,1980.0,2.0,5.0,12.0,11.0,1.0,3.0,4.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,7.0,17.0,21.0,0.811256,0.0
309,1960.0,2.0,1.0,11.0,4.0,4.0,NaN,16.0,6.0,2.0,...,1.0,4.0,1.0,2012.0,7.0,7.0,10.0,43.0,1.288454,0.0
334,1957.0,2.0,4.0,1.0,11.0,1.0,1.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,5.0,16.0,47.0,1.243574,0.0
354,1991.0,1.0,4.0,5.0,8.0,1.0,2.0,5.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,5.0,14.0,32.0,1.183139,0.0
438,1957.0,1.0,1.0,13.0,4.0,1.0,2.0,6.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,11.0,58.0,0.928852,0.0
508,1983.0,2.0,4.0,12.0,7.0,2.0,1.0,5.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,19.0,9.0,1.240262,0.0
539,1980.0,1.0,2.0,11.0,4.0,1.0,3.0,6.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,16.0,44.0,1.198537,0.0
544,1961.0,1.0,5.0,12.0,11.0,1.0,1.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,17.0,44.0,0.888639,0.0
574,1986.0,2.0,1.0,4.0,7.0,1.0,3.0,5.0,NaN,2.0,...,1.0,4.0,1.0,2012.0,7.0,9.0,20.0,41.0,0.788239,0.0
593,1973.0,2.0,4.0,12.0,9.0,4.0,NaN,15.0,4.0,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,10.0,7.0,1.231075,0.0
602,1987.0,1.0,1.0,13.0,7.0,1.0,3.0,10.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,11.0,5.0,1.258257,0.0
604,1991.0,2.0,5.0,6.0,8.0,4.0,NaN,11.0,11.0,2.0,...,2.0,NaN,1.0,2012.0,7.0,9.0,17.0,40.0,1.968662,0.0
639,1987.0,2.0,6.0,1.0,8.0,1.0,3.0,4.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,17.0,3.0,1.117624,0.0
670,1973.0,2.0,5.0,9.0,12.0,1.0,1.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,16.0,18.0,0.710589,0.0
683,1949.0,1.0,3.0,9.0,4.0,4.0,NaN,14.0,7.0,2.0,...,2.0,NaN,2.0,2012.0,7.0,10.0,17.0,36.0,0.828083,0.0
702,1978.0,2.0,5.0,12.0,11.0,1.0,3.0,1.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,18.0,53.0,0.811256,0.0
789,1945.0,2.0,4.0,15.0,4.0,4.0,NaN,13.0,3.0,1.0,...,2.0,NaN,2.0,2012.0,7.0,10.0,11.0,10.0,1.093791,0.0
790,1974.0,2.0,3.0,12.0,11.0,1.0,1.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,17.0,58.0,0.707814,0.0
809,1993.0,2.0,5.0,16.0,6.0,1.0,3.0,7.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,15.0,3.0,1.130368,0.0
826,1985.0,2.0,6.0,1.0,11.0,1.0,3.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,10.0,18.0,22.0,1.044943,0.0
914,1968.0,2.0,1.0,5.0,11.0,1.0,2.0,2.0,NaN,2.0,...,2.0,NaN,1.0,2012.0,7.0,11.0,18.0,18.0,0.828383,0.0
917,1980.0,1.0,2.0,2.0,4.0,1.0,3.0,6.0,NaN,2.0,...,2.0,NaN,2.0,2012.0,7.0,11.0,18.0,9.0,1.048671,0.0
959,1944.0,2.0,5.0,12.0,7.0,4.0,NaN,12.0,6.0,1.0,...,2.0,NaN,2.0,2012.0,7.0,13.0,8.0,56.0,0.930062,0.0

<b>4. Draw plots visualizing prediction value change over the year of the responder.</b>

In [ ]:
# TO-DO: do this! (bar charts and many more)

<b>5. Check correlation between prediction error column and column containing job group of the responder.</b>

In [52]:
np.corrcoef(df['error'], df['q13'])
# TO-DO: make the corrcoef function work properly

array([[ 1., nan],
       [nan, nan]])

<b>6. One-hot Encoder used to encode values in a 'woj' column (voivodeship of the responder).</b>

In [ ]:
# TO-DO: do this!

<b>7. Describe 5 columns showing number of each value occurences, number of NA values, mean, median, quartiles, max and min (if possible).</b>

In [53]:
def describe_column(column):
    print('=== Prediction error column description ===',
          '\nNA values  {0}'.format(column.isna().sum()),
          '\n{0}'.format(column.describe()),
          '\nValue  count\n{0}'.format(column.value_counts()))
    
describe_column(df['error'])
# TO-DO: do 4 more columns and think about other method of description

=== Prediction error column description ===
NA values  0
count    960.000000
mean      -1.220833
std        3.291089
min      -10.000000
25%       -3.000000
50%       -1.000000
75%       -1.000000
max       39.000000
Name: error, dtype: float64
Value  count
-1.0     473
 1.0      86
 4.0      76
-3.0      71
-6.0      62
-4.0      34
 0.0      30
-5.0      25
-8.0      21
-7.0      20
 3.0      15
 2.0      13
 9.0       8
-2.0       8
-9.0       7
-10.0      6
 5.0       3
 7.0       1
 39.0      1
Name: error, dtype: int64

<b>8. Get the rows which 'q98' column equals 1 and 'q101' column equals 2.</b>

In [60]:
print(df[df['q98'] == 1][df['q101'] == 2][['q98', 'q101']],
      '\n',
      df[df['q98'] == 1][df['q101'] == 2])
# TO-DO: fix above error

     q98  q101
3    1.0   2.0
6    1.0   2.0
9    1.0   2.0
16   1.0   2.0
21   1.0   2.0
..   ...   ...
919  1.0   2.0
927  1.0   2.0
928  1.0   2.0
943  1.0   2.0
959  1.0   2.0

[183 rows x 2 columns]
      URODZONY  PLEC  KLM6   woj    q9  q10  q11   q12  q13  q14  ...  q154  \
3      1948.0   1.0   3.0  11.0   4.0  4.0  NaN  13.0  6.0  1.0  ...   2.0
6      1979.0   2.0   5.0  12.0   5.0  1.0  3.0   3.0  NaN  2.0  ...   2.0
9      1976.0   1.0   4.0   9.0  11.0  1.0  3.0   4.0  NaN  2.0  ...   2.0
16     1944.0   2.0   5.0  12.0   4.0  4.0  NaN  13.0  6.0  1.0  ...   2.0
21     1984.0   2.0   3.0  12.0  11.0  4.0  NaN  14.0  4.0  2.0  ...   2.0
..        ...   ...   ...   ...   ...  ...  ...   ...  ...  ...  ...   ...
919    1950.0   1.0   5.0  12.0   8.0  4.0  NaN  13.0  3.0  1.0  ...   2.0
927    1965.0   2.0   1.0   7.0   4.0  4.0  NaN  14.0  5.0  2.0  ...   2.0
928    1972.0   1.0   1.0   7.0   4.0  1.0  3.0   6.0  NaN  2.0  ...   1.0
943    1954.0   1.0   5.0  12.0  11.0  1.0  1.0   1.0  NaN  2.0  ...   2.0
959    1944.0   2.0   5.0  12.0   7.0  4.0  NaN  12.0  6.0  1.0  ...   2.0

     q155  q156    r7s1  r7s2  r7s3  r7s4  r7s5      waga  error
3     NaN   2.0  2012.0   7.0   4.0  19.0  43.0  1.604806    3.0
6     NaN   1.0  2012.0   7.0   5.0  15.0  58.0  0.867682   -6.0
9     NaN   1.0  2012.0   7.0   5.0  18.0   1.0  1.244349   -1.0
16    NaN   2.0  2012.0   7.0   5.0  10.0  54.0  0.780039   -4.0
21    NaN   1.0  2012.0   7.0   5.0  17.0  47.0  0.551929   -1.0
..    ...   ...     ...   ...   ...   ...   ...       ...    ...
919   NaN   1.0  2012.0   7.0  11.0  20.0  20.0  0.973220   -3.0
927   NaN   2.0  2012.0   7.0  11.0  17.0   8.0  0.698083   -6.0
928   2.0   1.0  2012.0   7.0  11.0  18.0  46.0  1.011780    1.0
943   NaN   1.0  2012.0   7.0  12.0  19.0  16.0  0.888639    1.0
959   NaN   2.0  2012.0   7.0  13.0   8.0  56.0  0.930062    0.0

[183 rows x 267 columns]

c:\users\user\documents\roboczy\repozytoria git\pandas-introduction\venv\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
c:\users\user\documents\roboczy\repozytoria git\pandas-introduction\venv\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

<b>9. Create 3 more columns, which are combinations of existing columns.</b>

In [ ]:
# column showing year of a responder depending on its' birth date
# column showing decade of a responder depending on its' birth date
# column showing day of the week when responder was born depending on its' birth date

# column showing combination of q24s1 and q25s1 columns (political situation in Poland)
# column showing combination of q24s2 and q25s2 columns (economical situation in Poland)
# column showing combination of q24s3 and q25s3 columns (situation in responder's workplace)

# column showing combination of q33, q34, q35 and q36 columns (opinion about Donald Tusk's government)
# column showing combination of q38s1, q38s2, q38s3, q38s4(Jacek Cichocki?), q38s9, q38s10, q38s13, q38s14, q38s17, q38s19(Marek Sawicki?), q38s20, q38s21(Andrzej Seremet?), q38s22, q38s23, q38s24(Bogdan Zdrojewski?) (opinion about politics of the ruling party)

# column showing combination of q65s1, q65s2, q65s3, q65s4 (opinion about muslims)
# column showing combination of q67s1, q67s2, q67s3, q67s4 (opinion about buddhists)
# column showing combination of q68s1, q68s2, q68s3, q68s4 (opinion about Jehowa witnesses)
# column showing combination of q69s1, q69s2, q69s3, q69s4 (opinion about Hare Krishna zealots)

<b>10. Save DataFrame to a csv file.</b>

In [62]:
df.to_csv('igrzyska_list_7.csv')